@{
    Layout = null;
}

<h2 class="SectionTitle">Manage Customer</h2>
<div>
    <input type="button" id="btnAddNewSubmit" class="btn" data-ng-click="addNewUser()" value="Add New" />
</div>
<br />
<div>
    <div class="grid-style" data-ng-grid="userGrid">
    </div>
    <div class="user-details" data-ng-show="selectedUser">
        <div class="well well-large">
            <form id="customerInfo">

                <div class="form-group row">
                    <div class="col-xs-6 col-sm-3">
                        <label for="firstName">First Name<span class="requiredField">*</span></label>
                        <input type="text" id="firstName" name="firstName" data-ng-model="selectedUser.FirstName" />
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" name="lastName" data-ng-model="selectedUser.LastName" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-6 col-sm-3">
                        <label for="gender">Gender</label>
                        <input type="radio" id="male" name="gender" value="M" data-ng-model="selectedUser.Gender" /><span class="gender-text">Male</span>
                        <input type="radio" id="female" name="gender" value="F" data-ng-model="selectedUser.Gender" /><span class="gender-text">Female</span><br />
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <label for="title">Title</label>
                        <select id="title" name="title" data-ng-model="selectedUser.Title" data-ng-options="title.id as title.title for title in selectedTitles"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-6 col-sm-3">
                        <label for="mobile">Mobile</label>
                        <input type="tel" id="mobile" name="mobile" data-ng-model="selectedUser.Mobile" />
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" data-ng-model="selectedUser.Email" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-sm-3">
                        <label for="country">Country</label>
                        <select id="country" name="country" data-ng-model="selectedUser.Country" data-ng-options="country.id as country.name for country in countryList"></select>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <label for="state">State</label>
                        <select id="state" name="state" data-ng-disabled="!selectedUser.Country" data-ng-model="selectedUser.State" data-ng-change="clearCityAndZip();" data-ng-options="s.id as s.name for s in countryList[0].states"></select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-6 col-sm-3">
                        <label for="city">City</label>
                        <select id="city" name="city" data-ng-model="selectedUser.City" data-ng-options="c.id as c.name for c in selectedState.cities">
                            <option value="" selected="selected">Select City</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <label for="zip">Zip</label>
                        <input type="text" id="zip" name="zip" data-ng-model="selectedUser.Zip" /><br />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-xs-6 col-sm-3">
                        <label for="ssn">SSN</label>
                        <input type="text" id="ssn" name="ssn" data-ng-model="selectedUser.SSN" maxlength="9" /><br />
                    </div>
                </div>

                <div class="form-group">
                    @*<input type="button" id="btnSubmit" class="btn" data-ng-click="launch('confirm')" value="UPDATE" />*@
                    <input type="button" id="btnSubmit" class="btn" data-ng-click="updateUser(selectedUser)" value="UPDATE" />
                </div>


            </form>
        </div>
    </div>
</div>

<script>
    jQuery(function ($) {
        $("#ssn").mask("999-99-9999");
    });
</script>
